<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Somacou</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Assets/logo-somacou.png" rel="shortcut icon" image="image x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/Scripts/bootstrap.min.js" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/index.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
            referrerpolicy="no-referrer">
    </script>
</head>
<body class="body">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger fixed-top">
        <div class="container">
            @Html.ActionLink("SOMACOU", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Activer/désactiver la navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-active">@Html.ActionLink("ACCUEIL", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-active">@Html.ActionLink("RH", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-active">@Html.ActionLink("BOÎTE À SUGGESTIONS", "Help", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="container-fluid fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Assets/logo-somacou.png" alt="logo smc" />
                        </div>
                        <div class="col-8">
                                <p><i class="bi bi-house-check me-2"></i><span>Pk 08 Route d’AMBOHIMANGA ILAFY</span></p>
                                <p><i class="bi bi-signpost me-2"></i><span>Antananarivo Madagascar</span></p>     
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>RESEAUX SOCIAUX</label>
                    <ul>
                        <li class="me-3"><a href="https://www.facebook.com/somacoucouleurvanill" target="_blank"><i class="bi bi-facebook"></i></a></li>
                        <li class="me-3"><a href="https://www.linkedin.com/in/nantenaina-mickano-rakotomalala-55a3a11ab" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                        <li class="me-3"><a href="https://wa.me/+261341029531" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
                        <li class="me-5"><a href="mailto:rakotomalalamickano@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <hr />
            <div class="Developer">
                <p>&copy; @DateTime.Now.Year - Developer : Mickano RAKOTOMALALA</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
